<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
	<!--<add name="developerland_kassa" connectionString="SERVER=127.0.0.1;DATABASE=developerland_kassa;UID=root;PASSWORD=;"/>-->
	<add name="developerland_kassa" connectionString="SERVER=127.0.0.1;DATABASE=developerland_kassa;UID=root;PASSWORD="/>
</connectionStrings>
